body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.popup {
    position: absolute;
    background: lightgray;
    opacity: 0%;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh;
    border-radius: 16px;
    border-style: solid;
    z-index: 1;
    visibility: hidden;
    transition: opacity 1s;
}

.popup button {
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 22px;
    padding: 4px 7px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.popup img {
    margin: 10px;
}

.fadeIn {
    visibility: visible;
    opacity: 0.98;
  }

.container {
    float: left;
    width: 200px;
    height: 250px;
    background-size: cover;
    margin: 5px;
    position: relative;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-style: solid;
    border-color: silver;
}

.wishlistBtn {
    position: absolute;
    top: 10%;
    left: 88%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:black;
    color: white;
    font-size: 22px;
    padding: 4px 7px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.wishlistBtn:hover{
    background-color: darkblue;
}

#output div img:hover{
    cursor: pointer;
    border-color: gray;
}

label {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#header {
    padding-bottom: 20px;
}